{% extends 'dispenser/local_base.html' %}
{% block head %}
<style>
div.box { background-color:#F7C6EA;float:left;margin:5px;padding:5px; }
</style>


{% endblock %}
{% block pagetitle %}

{% endblock %}


{% block body %}
<form action = '{% url 'dispenser:find' %}' method = 'POST' name = 'form' >
{% csrf_token %}
<div class = 'box'>
{{form}}

<input type = 'submit' value = 'Get Person!'>
</div>
</form>
<div style = 'clear:both'></div>
<div class = 'box'>
{%for entry in result%}
{%if entry.codepocalypse %}
Codepocalypse: <span style = 'background-color:#C6F7D3'>
{% endif %}
{{entry.game.game}} <b>{{entry.game.notes}}</b>- {{entry.code}}<br>
{%if entry.codepocalypse %}
</span>
{% endif %}
{% endfor %}
</div>
<div style = 'clear:both'></div>
{{block.super}}
{% endblock %}
