{% extends 'mybase.html' %}
{% block head %}
<style>
div.box { background-color:#F7C6EA;float:left;margin:5px;padding:5px; }
</style>


{% endblock %}
{% block pagetitle %}

{% endblock %}


{% block body %}
<form action = '{% url 'dispenser:find' %}' method = 'POST' name = 'form' >
{% csrf_token %}
<div class = 'box'>
{{form}}

<input type = 'submit' value = 'Get Person!'>
</div>
</form>
<div style = 'clear:both'></div>
<div class = 'box'>
{%for entry in result%}
{%if entry.codepocalypse %}
Codepocalypse: <span style = 'background-color:#C6F7D3'>
{% endif %}
{{entry.game.game}} <b>{{entry.game.notes}}</b>- {{entry.code}}<br>
{%if entry.codepocalypse %}
</span>
{% endif %}
{% endfor %}
</div>
<div style = 'clear:both'></div>
<div class = 'button'><a class = fill href = '{% url 'dispenser:submit' %}'>Submit</a></div>
<div class = 'button'><a class = fill href = '{% url 'dispenser:retrieve' %}'>Retrieve</a></div>
<div class = 'button'><a class = fill href = '{% url 'dispenser:batch' %}'>Batch List</a></div>
<div class = 'button'><a class = fill href = '{% url 'dispenser:find' %}'>Find</a></div>
<div class = 'button' ><a class = fill href = '{% url 'dispenser:codepocalypse' %}'><font size = '1'><marquee behavior = 'alternate'>CODEPOCALYPSE!</marquee></font></a></div>


<div style = 'clear:both'></div>

{% endblock %}
