{% extends 'mybase.html' %}
{% block head %}
<style>
div.box { background-color:#F7C6EA;float:left;margin:5px;padding:5px; }
</style>


{% endblock %}
{% block pagetitle %}

{% endblock %}


{% block body %}
<form action = '{% url 'dispenser:find' %}' method = 'POST' name = 'form' >
{% csrf_token %}
<div class = 'box'>
{{form}}

<input type = 'submit' value = 'Get Person!'>
</div>
</form>
<div style = 'clear:both'></div>
<div class = 'box'>
{%for entry in result%}
{{entry.game.game}} <b>{{entry.game.notes}}</b>- {{entry.code}}<br>
{% endfor %}
</div>
<div style = 'clear:both'></div>

{% endblock %}
