{% extends 'mybase.html' %}
{% block head %}
<style>
div.box { background-color:#F7C6EA;float:left;margin:5px;padding:5px; }
</style>


{% endblock %}
{% block pagetitle %}

{% endblock %}


{% block body %}
<div class = 'button'><a class = fill href = '{% url 'dispenser:submit' %}'>Submit</a></div>
<div class = 'button'><a class = fill href = '{% url 'dispenser:retrieve' %}'>Retrieve</a></div>
<div class = 'button'><a class = fill href = '{% url 'dispenser:batch' %}'>Batch List</a></div>
<div class = 'button'><a class = fill href = '{% url 'dispenser:find' %}'>Find</a></div>
<div class = 'button' ><a class = fill href = '{% url 'dispenser:codepocalypse' %}'><font size = '1'><marquee behavior = 'alternate'>CODEPOCALYPSE!</marquee></font></a></div>

<div class = 'button'><a class = fill href = '{% url 'dispenser:auto' %}'>Auto</a></div>
<div class = 'button'><a class = fill href = '{% url 'dispenser:raffle' %}'>Raffle</a></div>


<div style = 'clear:both'></div>
{% endblock %}

